html {
  --gold: #ffd700;
}

.body {
  margin: 0;
  padding: 0;
  background-color: #03a9f4;
  font-family: sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

nav .brand-logo {
  display: block;
  text-align: center;
  position: relative;
}

.input-field label {
  color: white;
}

.input-field input[type=text]:focus+label {
  color: white;
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid white;
  box-shadow: 0 1px 0 0 #000;
}

input[type=text]:not(.browser-default) {
  border-bottom: 1px solid white;
  color: white;
}

input[type=text]:not(.browser-default):focus:not([readonly]) {
  border-bottom: 1px solid white;
  -webkit-box-shadow: 0 1px 0 0 white;
  box-shadow: 0 1px 0 0 white;
}

input[type=text]:not(.browser-default):focus:not([readonly])+label {
  color: white;
}

.contenedor-form {
  padding: 3rem 0 1px 0;
}

.mensaje {
  text-align: center;
  font-size: 2rem;
}

.buscador i {
  width: 100%;
}

.error {
  color: white;
  margin-top: 3rem;
  text-align: center;
  text-emphasis: left;
}

.card-panel h2 {
  font-size: 1.6rem;
  text-align: center;
}

.card-panel p {
  text-align: center;
  font-size: 1.4rem;
}

.card-panel__nombre {
  margin: 0;
  padding: 0;
}

.card-panel__temperatura {
  font-size: 2rem;
  margin: 1rem 0;
  padding: 0;
}

.card-panel__temperatura span {
  vertical-align: super;
}

.error {
  padding: 1rem;
}

.text-center {
  text-align: center;
}

.footer {
  margin-top: auto;
}

.footer__contenido {
  display: block;
  text-align: center;
  position: relative;
}

.w-100 {
  width: 100%;
}

@media (max-width: 640px) {
  .body {
    font-size: 0.8rem;
  }
}